{% extends 'base.html.twig' %}
{% block body %}
    <h2>{{ proverb.title }}</h2>
    <p>{{ proverb.origin }}</p>
    <p>{{ proverb.explanation }}</p>
    <p>{{ proverb.formattedCreatedDate }}</p>
{% endblock %}